div, form, ol, ul, section {
  display: inline-block;
}
li {
  list-style: none;
}

body, button, html, input, select, textarea {
  font-family: Helvetica Neue,Arial,Helvetica,sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  background-color: #17394d;
  margin: 0;
}

.main-container {
  position: relative;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

header {
  background-color: #66b6e4;
  width: 100%;
  height: 70px;
  top: 0;
  position: fixed;
  text-align: center;
  color: #f2f2f2;
}

.list-title {
  margin: 0;
}

div#main {
  margin-top: 100px;
}

.board h2 {
  color: #f2f2f2;
  font-size: 25px;
  letter-spacing: 1px;
}

.lists {
  display: flex;
  align-items: flex-start;
}

.list {
  min-width: 300px;
  max-width: 300px;
  background: grey;
  color: white;
  padding: 5px 15px;
  text-align: center;
  margin: 10px;
  overflow: overlay;
  display: inline-grid;
}

.cards {
  display: inline-block;
}

.card {
  min-width: 300px;
  max-width: 300px;
  width: 50%;
  display: block;
}

.three.columns.list {
  padding: 20px;
}

input[type=text] {
  height: 38px;
  background-color: #fff;
  width: 100%;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}

.list h5 {
  padding: 0;
  margin: 0;
  overflow: overlay;
}

.columns {
  margin: 10px;
}

.columns:first-child {
  margin-left: 0;
}

.columns {
  margin: 0;
}

.three.columns.list {
  padding: 20px;
  margin: 10px;
}

.list:nth-child(even) {
  background: #66b6e4;
}
